h1 {
	font-size: 70px;
	font-family: 'Coiny', cursive;
	text-align: center;
}
h3 {
	font-family: serif;
	font-size: 15px
}
body{
	background-image: url(../img/cancer.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
fieldset {
	background-color: rgb(255, 225, 209);
    background-color: rgba(255, 225, 209, 0.3);
	padding: 16px;
	border:2px solid rgb(230, 129, 171);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    margin: 0px;
}
.titulo {
	text-align: center;
}	
.dingreso {
	text-align: center;
}
.botones {
	text-align: center;
}
#contenedor{
  display: inline-block;
  min-width: 100px;
}
.vove {
	padding: 0;
	margin: 0;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}
.distri { 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}  
.item {
margin: 20px;
}
.mas {
	align-self: stretch;
}
